<h1>Let's Play Tic-Tac-Toe!</h1>

<% next_turn = @game.human_turns + 1 %>
<table class='table table-bordered gameboard'>
  <tr>
    <td><%= spot_status(1, @game.id, next_turn) %></td>
    <td><%= spot_status(2, @game.id, next_turn) %></td>
    <td><%= spot_status(3, @game.id, next_turn) %></td>
  </tr>
  <tr>
    <td><%= spot_status(4, @game.id, next_turn) %></td>
    <td><%= spot_status(5, @game.id, next_turn) %></td>
    <td><%= spot_status(6, @game.id, next_turn) %></td>
  </tr>
  <tr>
    <td><%= spot_status(7, @game.id, next_turn) %></td>
    <td><%= spot_status(8, @game.id, next_turn) %></td>
    <td><%= spot_status(9, @game.id, next_turn) %></td>
  </tr>
</table>

<%= link_to 'Back', games_path, class: 'btn btn-primary' %>
<%= link_to 'Delete', game_path(@game), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this game?' } %>
